
body {
  display: block;  
}

.body-container{
  display: flex;
  flex-direction: column;
  min-height: 83vh;
  padding-bottom: 10px;  
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.header {
  height: 100px;
  width: 100%;
  background-color: cornflowerblue;  
  align-items: center;  
  justify-content:center;
}

.search {
  width: 400px;
  height: 45px;
  border-radius: 6px;
  border: 0;
}

header a span img {
  margin-right: 25px;
}

.nav{
  max-width: 100%;  
  height: 40px;  
  background-color: rgb(233, 103, 43);  
  display: flex;  
  justify-content: space-around;    
}

.menu {
  width: 1200px;
  align-items: center;
  justify-content: space-between;
  text-transform:uppercase;
  font-weight: bold;
  font-size: 16px;
}

div nav ul li a {
  color: white;
}

.container-products{
  width: calc(100% - 260px);
}

.container-section{
  justify-content: center;
  display: flex;       
}

.section{
  max-width: 1200px; 
  /* width: 1200px; */
  margin-top: 20px;  
}

.side-menu {
  margin: 0 10px 0 0;
  border-radius: 10px;
  background-color: #ffffff;
  width: 260px;
  max-height:350px;
  box-shadow: 0 0 0.5em gray;
}

.side-menu-itens {    
  width: 260px;  
  height: 60px;      
  display: flex;
  align-items: center;    
}

.side-menu-itens p {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;   
}

.order-itens-checkbox {  
  margin-left: 10px;
}

.side-menu-itens-select{
  width: 260px;  
  height: 60px;      
  align-items: center;
  margin-top: 20px;  
  margin-left: 10px;   
}

.div .label .p {
  margin-top: 10px;
}

.exibir-itens {
  width: 150px;
  height: 30px;
  border-radius: 6px;
}

.list-products{
  width: 290px;
  height: 350px;
  margin-bottom: 10px;
  border-radius: 20px;  
  margin-left: 10px;
  box-shadow: 0 0 0.5em gray;  
}

.btn-comprar {
  width: 100%;
}

.btn-comprar button {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 20px;
}

.btn-comprar-generic {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: #57B4E9;
}

.list-product-img {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;  
}

.list-product-img img {  
  max-width: 100%;
  max-height: 100%;       
}

.data-product{
  margin-top: 20px;
  margin-left: 10px; 
  height: 80px;
  width: 100%;   
}

.titulo {
  font-weight: bold;
  font-size: 14px;
  max-width: 40ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preco {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(233, 103, 43);
}

.footer {
  background-color: cornflowerblue;
  min-height: 17vh;
  width: 100%;
}